
:root {
    --color-primary: #04A7A7;
    --color-primary-hover: #038a8a;
    --color-text-primary: #333333;
    --color-background: #FFFFFF;
    --color-logo-accent: #333333;
    --spacing-unit: 8px;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    padding: var(--spacing-unit);
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
} 